<div class="row d-flex justify-content-center pt-3">
  <div class="col-md-8">
    <div class="card bg-light">
      <div class="card-header bg-purple text-center">
        <div class="row">
          <div class="col text-center">
            Users List
          </div>
          <div class="col text-end">
            <button type="button" class="btn btn-light" (click)="show()">Add User</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-my-table [HeadArray]="headArray" [GridArray]="users"></app-my-table>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="showAddUser">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-purple">
            <div class="text-center ">
              <h4>Add User</h4>
              <button class="btn btn-light" (click)="hide()">Close</button>
            </div>
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
