<div class="row">
  <div class="col">
    <div class="row pt-3 mx-2">
      <div class="col-md-2">
        <div class="container con1  ">
          <div class="row">
            <div class="col text-start">
              Total Employee
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container con2  ">
          <div class="row">
            <div class="col text-start">
              Total Departments
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container con3  px-3">
          <div class="row">
            <div class="col text-start">
              Total Users
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container con4  px-3">
          <div class="row">
            <div class="col text-start">
              Total Requests
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container con7  px-3">
          <div class="row">
            <div class="col text-start">
              Total Open
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container con6  px-3">
          <div class="row">
            <div class="col text-start">
              Todays Requests
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-2 mx-2">
      <div class="col-md-4">
        <div class="container con5  px-3">
          <div class="row">
            <div class="col text-start">
              Total Completed
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="container con8  px-3">
          <div class="row">
            <div class="col text-start">
              Total Completed Today
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container con8  px-3">
          <div class="row">
            <div class="col text-start">
              Total Open Today
            </div>
            <div class="col text-end">
              0
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
